<div class="b-inner-container" *ngIf="user">
  <div card-image [style.background-image]="user.imageUrl ? 'url(' + user.imageUrl + ')' : null"></div>
  <mat-list>
    <mat-list-item>
      <h2>{{user.name | titlecase}}</h2>
      <button mat-icon-button color="accent" matTooltip="update profile picture" matTooltipShowDelay="1200"
          matTooltipPosition="after" (click)="fileInput.click()">
            <mat-icon>camera</mat-icon>
      </button>
      <input id="file-upload" type="file" #fileInput accept="image/*" (change)="uploadFile($event)">
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <mat-icon matListIcon>person</mat-icon>
      username: {{user.username}}
    </mat-list-item>

    <mat-list-item>
      <mat-icon matListIcon>email</mat-icon>
      email: {{user.email}}
    </mat-list-item>
  </mat-list>
</div>
