[card-image] {
	float: left;
	height: 200px;
	width: 200px;
}

.b-inner-container {
	padding-top: 35px;
}

mat-list {
	margin-top: 30px;
}

button {
	margin-left: 5px;
}

input[type="file"] {
	display: none;
}