<div class="b-inner-container" *ngIf="people">
  <h2 class="b-text-primary">People ({{people.length}})</h2>
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1%" id="grid">
    <div fxFlex.gt-xs="32%" fxFlex="100" *ngFor="let person of people">
      <mat-card>
        <mat-card-content class="b-text-centered">
          <div card-image [style.background-image]="person.imageUrl ? 'url(' + person.imageUrl + ')' : null"></div>
          <mat-card-title>{{person.name}}</mat-card-title>
          <mat-card-subtitle>{{person.username}}</mat-card-subtitle>
          <mat-divider></mat-divider>
          <div fxLyout="row" fxLayoutAlign="space-between" class="b-text-muted">
            <p>{{person.email}}</p>
            <p>Joined: {{person.registrationDate | date:'mediumDate'}}</p>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
