/* You can add global styles to this file, and also import other style files */
@import '/assets/styles/theme.scss';
@import '/assets/styles/variables';
@import '/assets/styles/text';
@import '/assets/styles/backgrounds';

.fill {
  flex: 1 1 auto;
}

body,
html {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  min-height: 100%;

  .mat-card {
    padding: 0;
    border-radius: $borderRadius;

    > :first-child {
      border-radius: $borderRadius $borderRadius 0 0;
    }

    > :last-child {
      border-radius: 0 0 $borderRadius $borderRadius;
    }

    [card-image] {
      margin: -75px auto 15px;
    }
  }

  mat-card-content {
    padding: 1.5em;
  }
}

.b-container {
  width: 100%;
  height: 100%;
  background-image: url("assets/images/cream_pixels/cream_pixels.png");
}

.b-inner-container {
  padding: 1%;
  position: absolute;
  top: $appBarHeight;
  bottom: 0;
  min-width: 98%;
}

#appBar {
  height: $appBarHeight;
}

div.simple-notification.error,
div.simple-notification.warn {
  background: mat-color($warn, 700);

  div.sn-content,
  div.sn-title {
    color: white;
  }
}

div.simple-notification.success {
  background: mat-color($accent, 700);
}

[card-image] {
  background-image: url("assets/images/blushing_DL.svg");
  background-size: cover;
  @extend .b-bg-tainted;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid #ddd;
}