<form [formGroup]="form" (submit)="register()">
    <div fxLayout="row" fxLayoutAlign="space-between">
        <mat-form-field appearance="outline">
            <mat-label>Full Name</mat-label>
            <input matInput type="text" formControlName="name" required>
            <mat-error>full name is required</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Username</mat-label>
            <input matInput type="text" formControlName="username" required>
            <mat-error>username is required</mat-error>
        </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between">
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="email" required>
            <mat-error>email is required</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password" required>
            <mat-error>password is required</mat-error>
        </mat-form-field>
    </div>
    <div fxLayoutAlign="end">
        <button mat-raised-button color="primary" type="submit">
            Register
        </button>
    </div>
</form>
