<div class="b-container" fxLayout="column" fxLayoutAlign="center center">
    <mat-card>
        <mat-card-content fxLayoutWrap fxLayout="row" fxLayoutAlign="space-between">

            <div fxFlex="100" fxFlex.gt-xs="40%" id="logoSection" class='b-bg-primary'>
                <div fxLayout="column" fxLayoutAlign="center center" fxFlex>
                    <div class="b-text-centered" >
                        <h1 class="b-text-uppercase">
                            Pr<mat-icon>fingerprint</mat-icon>ject
                        </h1>
                        <p>by Buki Alabi</p>
                    </div>
                </div>
            </div>

            <div fxLayout="column" fxLayoutAlign="center center" fxFlex="100" fxFlex.gt-xs="60%" id="content">
                <mat-tab-group mat-stretch-tabs [dynamicHeight]="false" [(selectedIndex)]="selectedIndex">
                    <mat-tab label="Login">
                        <app-login></app-login>
                    </mat-tab>
                    <mat-tab label="Register">
                        <app-register (userRegistered)="welcomeUser($event)"></app-register>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </mat-card-content>
    </mat-card>
</div>
