@import '../../../assets/styles/variables';

#logoSection {
  border-radius: $borderRadius 0 0 $borderRadius;
  color: white;
}

mat-card {
  width: 90%;
  max-width: 780px;
}

mat-card-content {
  padding: 0px;
}

#content {
  padding: 10px;
}

mat-tab-group {
  min-height: 350px;
}
