mat-toolbar {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14),
    0 1px 18px 0 rgba(0, 0, 0, 0.12);
}

button {
  border-radius: 0px;
  transition: border-width 0.3s;
}

.mat-button{
    text-transform: uppercase;
}

$borderWidth: 4px;
.active {
  border-bottom: $borderWidth solid white;
  margin-top: $borderWidth;
}
