<mat-toolbar id="appBar" color="primary" fxLayout="row" fxLayoutAlign="space-between stretch">
  <div fxLayoutAlign="center center">
    <a routerLink="/dashboard">
      <h1 class="b-text-uppercase">Pr<mat-icon style="vertical-align: text-top">fingerprint</mat-icon>ject</h1>
    </a>
  </div>
  <div fxLayout="row" fxLayoutAlign="start stretch">
    <button routerLinkActive="active" routerLink="/dashboard" mat-button>About</button>
    <button routerLinkActive="active" routerLink="/directory" mat-button>Directory</button>
    <div fxLayoutAlign="center center">
      <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>account_circle</mat-icon></button>
    </div>
  </div>
</mat-toolbar>

<mat-menu #menu="matMenu" [overlapTrigger]="false">
  <button mat-menu-item routerLink="/profile"><mat-icon>person</mat-icon> Profile</button>
  <button mat-menu-item (click)="auth.logout()"><mat-icon>power_settings_new</mat-icon> Logout</button>
</mat-menu>
