<form [formGroup]="form" (submit)="login()">
    <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <mat-icon matSuffix>person</mat-icon>
        <input matInput type="text" formControlName="username" required>
        <mat-error>username is required</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <mat-icon matSuffix>lock</mat-icon>
        <input matInput type="password" formControlName="password" required>
        <mat-error>password is required</mat-error>
    </mat-form-field>
    <div fxLayoutAlign="end">
        <button mat-raised-button color="primary" type="submit">
            Login
        </button>
    </div>
</form>
