.b-bg-tainted {
  background-color: $offWhite;
}
.b-bg-primary {
  background-color: mat-color($primary);
}
.b-bg-accent {
  background-color: mat-color($accent);
}
.b-bg-warn {
  background-color: mat-color($warn);
}
.b-bg-deep {
  background-color: $darkerBlue;
}
