//Create color palettes at http://mcg.mbitson.com/#!?mcgpalette0=%233f51b5

$darkBlue: (
  50: #828894,
  100: #6d7482,
  200: #596170,
  300: #444d5e,
  400: #2f394c,
  500: #1b263b,
  600: #192336,
  700: #172031,
  800: #141c2b,
  900: #121926,
  A100: #6d7482,
  A200: #596170,
  A400: #2f394c,
  A700: #172031,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text
  )
);

$lightBlue: (
  50: #b4c0d0,
  100: #a8b6c8,
  200: #9cacc0,
  300: #8fa1b8,
  400: #8397b0,
  500: #778da9,
  600: #6d819a,
  700: #62748b,
  800: #57677b,
  900: #4c5a6c,
  A100: #a8b6c8,
  A200: #9cacc0,
  A400: #8397b0,
  A700: #62748b,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text
  )
);

$purple: (
  50: #c7b9cb,
  100: #b9a8be,
  200: #ac97b2,
  300: #9e86a5,
  400: #907498,
  500: #82638b,
  600: #74527e,
  700: #674172,
  800: #5e3c68,
  900: #55365e,
  A100: #b9a8be,
  A200: #ac97b2,
  A400: #907498,
  A700: #674172x,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text
  )
);

$pink: (
  50: #fdeceb,
  100: #f9cfcc,
  200: #f5afaa,
  300: #f18e88,
  400: #ee766f,
  500: #eb5e55,
  600: #e9564e,
  700: #e54c44,
  800: #e2423b,
  900: #dd312a,
  A100: #ffffff,
  A200: #ffeae9,
  A400: #ffb8b6,
  A700: #ffa09c,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$bloodMoon: (
  50: #f7e9e6,
  100: #ebc7c1,
  200: #dda298,
  300: #cf7c6e,
  400: #c5604f,
  500: #bb4430,
  600: #b53e2b,
  700: #ac3524,
  800: #a42d1e,
  900: #961f13,
  A100: #ffccc9,
  A200: #ff9d96,
  A400: #ff6e63,
  A700: #ff5649,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$pastelWine: (
  50: #f1e7e9,
  100: #ddc4c8,
  200: #c79da3,
  300: #b0767e,
  400: #9f5862,
  500: #8e3b46,
  600: #86353f,
  700: #7b2d37,
  800: #71262f,
  900: #5f1920,
  A100: #ff9ba4,
  A200: #ff6875,
  A400: #ff3547,
  A700: #ff1b30,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff
  )
);

$softBrown: (
  50: #efeaeb,
  100: #d8cacd,
  200: #bea7ab,
  300: #a48389,
  400: #916970,
  500: #7d4e57,
  600: #75474f,
  700: #6a3d46,
  800: #60353c,
  900: #4d252c,
  A100: #ff94a5,
  A200: #ff617a,
  A400: #ff2e4f,
  A700: #ff1439,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff
  )
);
