.b-text-uppercase {
  text-transform: uppercase;
}
.b-text-centered {
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
}

.b-text-primary {
  color: mat-color($primary);
}
.b-text-accent {
  color: mat-color($accent);
}
.b-text-warn {
  color: mat-color($warn);
}
.b-text-deep {
  color: $darkerBlue;
}
.b-text-muted {
  color: $muted;
}
