@import '~@angular/material/theming';
$custom-typography: mat-typography-config(
  $font-family: 'Quicksand'
);
@include mat-core($custom-typography);
@import 'colorPalettes.scss';

$primary: mat-palette($darkBlue);
$accent: mat-palette($lightBlue);
$warn: mat-palette($pink);

$app-theme: mat-light-theme($primary, $accent, $warn);
@include angular-material-theme($app-theme);
