<div class="b-inner-container">
    <div id="wrapper">
        <div class="hero-heading b-bg-tainted">
            <h1>MEAN Authentication App</h1>
            <p>Welcome to our custom mean application built from scratch</p>
        </div>

        <div fxLayout="row" fxLayoutAlign="space-between stretch">
            <mat-card fxFlex.gt-xs="30%" fxFlex="100" *ngFor="let point of points" class="b-text-centered">
                <mat-toolbar color="accent">
                    <span class="fill">{{point.title}}</span>
                </mat-toolbar>
                <mat-divider></mat-divider>
                <mat-card-content>{{point.description}}</mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
